<a href="https://colab.research.google.com/github/IgorQuaresma/-bootcamp_alura_projetos/blob/main/bootcamp_alura_projeto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Projeto de conclusão do módulo 1 do bootcamp de data science aplicada da Alura- Análise do histórico de casos de tuberculose nas Unidades Federativas.

Casos notificados de tuberculose (2001 até 2020)

*Dados retirados da base de dados do datasus

O que é Tuberculose? 

A tuberculose é uma doença infecto contagiosa transmitida pela bactéria Mycobacterium tuberculosis, o bacilo de Koch, e tem como principais sintomas tosse por mais de duas semanas, produção de catarro, febre, sudorese, cansaço e dor no peito.

In [166]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [167]:
#Criar variável de acesso aos dados (repositório do github)
url = 'https://raw.githubusercontent.com/IgorQuaresma/-bootcamp_alura_projetos/main/Dados/A005906189_28_143_208.csv'

In [168]:
#Lendo os dados
dados = pd.read_csv(url, encoding="ISO-8859-1",
                    skiprows = 3, sep=";", skipfooter=19,
                    thousands=".", decimal=",")


dados = dados[dados.columns[0:-1]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [169]:
dados =dados.rename(columns={'UF de residência':'UF_res'})

In [170]:
#Primeira visão geral de estatísticas básicas do dataset  
dados.describe()

               2001          2002  ...          2019         2020
count     28.000000     28.000000  ...     28.000000     28.00000
mean    3116.607143   3316.392857  ...   3486.750000   2988.50000
std     4597.990345   4586.776641  ...   4804.473337   4168.66708
min      144.000000    172.000000  ...     69.000000     41.00000
25%      671.500000    772.750000  ...    809.500000    685.25000
50%     1376.500000   1372.500000  ...   1488.500000   1385.00000
75%     3303.000000   4009.500000  ...   4392.000000   3739.50000
max    19139.000000  19046.000000  ...  21899.000000  19015.00000

[8 rows x 20 columns]

In [171]:
###A

###A região do país desempenha um grande fator na incidência de casos?

In [172]:
#Definir as UFs como indices
estados  = dados.set_index('UF_res')
estados

                         2001   2002   2003   2004  ...   2017   2018   2019   2020
UF_res                                              ...
11 Rondônia               672    637    648    627  ...    773    676    739    575
12 Acre                   357    364    367    353  ...    485    483    585    539
13 Amazonas              2330   2279   2369   2557  ...   3683   3789   3944   3493
14 Roraima                144    172    198    215  ...    209    266    325    289
15 Pará                  3600   3882   4038   4146  ...   4546   4721   5565   4461
16 Amapá                  214    288    263    268  ...    288    274    352    269
17 Tocantins              317    309    282    274  ...    190    235    249    205
21 Maranhão              3088   3204   3164   3180  ...   2507   2688   2704   2366
22 Piauí                 1379   1351   1251   1349  ...    755    841    833    722
23 Ceará                 4253   4392   4586   4473  ...   4290   4555   4542   3695
24 Rio Grande do Norte   1160   1179   1352   1373  ...   1351   1625   1421   1503
25 Paraíba               1364   1386   1457   1494  ...   1366   1550   1487   1267
26 Pernambuco            4560   4875   5167   5466  ...   6371   6484   6788   6068
27 Alagoas               1341   1359   1427   1428  ...   1271   1346   1296    927
28 Sergipe                554    592    650    626  ...    834    980   1021    793
29 Bahia                 7973   7904   8482   8266  ...   5497   5663   5651   4449
31 Minas Gerais          1374   5902   5999   6105  ...   4048   4205   4342   3873
32 Espírito Santo        1632   1569   1559   1529  ...   1325   1480   1490   1725
33 Rio de Janeiro       16968  16781  16125  15832  ...  13930  14825  14967  13080
35 São Paulo            19139  19046  18389  17601  ...  22064  22214  21899  19015
41 Paraná                3204   3410   3425   3251  ...   2496   2848   2866   2803
42 Santa Catarina        1702   1875   1906   1880  ...   2230   2287   2279   1517
43 Rio Grande do Sul     5231   5508   5790   5902  ...   6594   6903   7636   6322
50 Mato Grosso do Sul     978    910   1007   1024  ...   1140   1455   1407   1174
51 Mato Grosso           1458   1278   1289   1177  ...   1422   1405   1513   1176
52 Goiás                 1220   1205   1277   1142  ...   1210   1263   1235    986
53 Distrito Federal       383    384    418    395  ...    361    419    424    345
00 Ignorado/exterior      670    818    888   1046  ...     65     59     69     41

[28 rows x 20 columns]

In [183]:
#Criar coluna com as regioes de cada regiao

dicionario_regioes = {'1':'Norte', '2':'Nordeste', '3':'Sudeste', '4':'Sul', '5':'Centro-Oeste'}

estados['Regiao'] = estados.index.map(lambda x : x.split()[0][0])
estados['Regiao'] = estados['Regiao'].map(dicionario_regioes)
estados

                         2001   2002   2003  ...   2019   2020        Regiao
UF_res                                       ...
11 Rondônia               672    637    648  ...    739    575         Norte
12 Acre                   357    364    367  ...    585    539         Norte
13 Amazonas              2330   2279   2369  ...   3944   3493         Norte
14 Roraima                144    172    198  ...    325    289         Norte
15 Pará                  3600   3882   4038  ...   5565   4461         Norte
16 Amapá                  214    288    263  ...    352    269         Norte
17 Tocantins              317    309    282  ...    249    205         Norte
21 Maranhão              3088   3204   3164  ...   2704   2366      Nordeste
22 Piauí                 1379   1351   1251  ...    833    722      Nordeste
23 Ceará                 4253   4392   4586  ...   4542   3695      Nordeste
24 Rio Grande do Norte   1160   1179   1352  ...   1421   1503      Nordeste
25 Paraíba               1364   1386   1457  ...   1487   1267      Nordeste
26 Pernambuco            4560   4875   5167  ...   6788   6068      Nordeste
27 Alagoas               1341   1359   1427  ...   1296    927      Nordeste
28 Sergipe                554    592    650  ...   1021    793      Nordeste
29 Bahia                 7973   7904   8482  ...   5651   4449      Nordeste
31 Minas Gerais          1374   5902   5999  ...   4342   3873       Sudeste
32 Espírito Santo        1632   1569   1559  ...   1490   1725       Sudeste
33 Rio de Janeiro       16968  16781  16125  ...  14967  13080       Sudeste
35 São Paulo            19139  19046  18389  ...  21899  19015       Sudeste
41 Paraná                3204   3410   3425  ...   2866   2803           Sul
42 Santa Catarina        1702   1875   1906  ...   2279   1517           Sul
43 Rio Grande do Sul     5231   5508   5790  ...   7636   6322           Sul
50 Mato Grosso do Sul     978    910   1007  ...   1407   1174  Centro-Oeste
51 Mato Grosso           1458   1278   1289  ...   1513   1176  Centro-Oeste
52 Goiás                 1220   1205   1277  ...   1235    986  Centro-Oeste
53 Distrito Federal       383    384    418  ...    424    345  Centro-Oeste
00 Ignorado/exterior      670    818    888  ...     69     41           NaN

[28 rows x 21 columns]

In [182]:
estados.index.map(lambda x : x.split()[0][0])

Index(['1', '1', '1', '1', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '3', '3', '3', '3', '4', '4', '4', '5', '5', '5', '5', '0'],
      dtype='object', name='UF_res')

In [174]:
for i in estados['Regiao']:
  if i == 1:
    i.replace(1,'Norte')
  elif i == 2:
    i.replace(2,'Nordeste')
  elif i == 3:
    i.replace(3,'Sudeste')
  elif i == 4:
    i.replace(4,'Sul')
  else:
    i.replace(5,'Centro-Oeste')

estados

                         2001   2002   2003   2004  ...   2018   2019   2020  Regiao
UF_res                                              ...
11 Rondônia               672    637    648    627  ...    676    739    575       1
12 Acre                   357    364    367    353  ...    483    585    539       1
13 Amazonas              2330   2279   2369   2557  ...   3789   3944   3493       1
14 Roraima                144    172    198    215  ...    266    325    289       1
15 Pará                  3600   3882   4038   4146  ...   4721   5565   4461       1
16 Amapá                  214    288    263    268  ...    274    352    269       1
17 Tocantins              317    309    282    274  ...    235    249    205       1
21 Maranhão              3088   3204   3164   3180  ...   2688   2704   2366       2
22 Piauí                 1379   1351   1251   1349  ...    841    833    722       2
23 Ceará                 4253   4392   4586   4473  ...   4555   4542   3695       2
24 Rio Grande do Norte   1160   1179   1352   1373  ...   1625   1421   1503       2
25 Paraíba               1364   1386   1457   1494  ...   1550   1487   1267       2
26 Pernambuco            4560   4875   5167   5466  ...   6484   6788   6068       2
27 Alagoas               1341   1359   1427   1428  ...   1346   1296    927       2
28 Sergipe                554    592    650    626  ...    980   1021    793       2
29 Bahia                 7973   7904   8482   8266  ...   5663   5651   4449       2
31 Minas Gerais          1374   5902   5999   6105  ...   4205   4342   3873       3
32 Espírito Santo        1632   1569   1559   1529  ...   1480   1490   1725       3
33 Rio de Janeiro       16968  16781  16125  15832  ...  14825  14967  13080       3
35 São Paulo            19139  19046  18389  17601  ...  22214  21899  19015       3
41 Paraná                3204   3410   3425   3251  ...   2848   2866   2803       4
42 Santa Catarina        1702   1875   1906   1880  ...   2287   2279   1517       4
43 Rio Grande do Sul     5231   5508   5790   5902  ...   6903   7636   6322       4
50 Mato Grosso do Sul     978    910   1007   1024  ...   1455   1407   1174       5
51 Mato Grosso           1458   1278   1289   1177  ...   1405   1513   1176       5
52 Goiás                 1220   1205   1277   1142  ...   1263   1235    986       5
53 Distrito Federal       383    384    418    395  ...    419    424    345       5
00 Ignorado/exterior      670    818    888   1046  ...     59     69     41       0

[28 rows x 21 columns]